<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <link href="@Url.Content("~/css/screen.css")" rel="stylesheet" />
        <title>Kevin Thomer's ASP.NET MVC Web Site in Windows Azure</title>
    </head>
    <body>
        <div id="wrapper">
            <header>
                <h1>Kevin Thomer's ASP.NET MVC Web Site in Windows Azure</h1>
                <nav>
                    <ul id="navlist">
                        <li>@Html.ActionLink("Home","Index")</li>
                        <li><a href="#">Form/Layout Demos</a>
                            <ul>
                                <li>@Html.ActionLink("Web Form","Form")</li>
                                <li><a href="#">Layout Demo  &#9654;</a>
                                    <ul>
                                        <li>@Html.ActionLink("Absolute Layout","Absolute", null, new { @title="Demo of Absolute Positioning Layout" })</li>
                                        <li>@Html.ActionLink("Static Layout","Static", null, new { @title="Demo of Static (default) Positioning Layout" })</li>
                                        <li>@Html.ActionLink("Float Layout","Float", null, new { @title="Demo of Float Layout" })</li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>@Html.ActionLink("ClientSide Demos","Client")</li>
                        <li>@Html.ActionLink("ServerSide Demos","ServerSide")</li>
                        <li>@Html.ActionLink("About Myself","About")</li>
                    </ul>
                </nav>
            </header>
            <div id="content">
                @RenderBody()
            </div>
        </div>
    </body>
</html>